<% provide(:title, "Top") %>
<div class="jumbotron">
  <h1>TaskApp</h1>
  <p> TaskAppは簡易ToDo管理ツールです。</p>

  <p>↓↓初めてのご利用↓↓</p>

  
    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
    
    
    
    
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>